Data Processing

In [1]:
import pandas as pd
import numpy as np

cols = ['ID', 'Age', 'Gender', 'Education', 'Country', 'Ethnicity', 'N-Score', 'E-Score', 'O-Score', 'A-Score', 'C-Score', 'Impulsive', 'ImpSS', 'Alcohol', 'Amphet',
        'Amyl', 'Benzos', 'Caff', 'Cannabis', 'Choc', 'Coke', 'Crack', 'Ecstasy', 'Heroin', 'Ketamine', 'Legalh', 'LSD', 'Meth', 'Mushrooms', 'Nicotine', 'Semer', 'VSA']

df = pd.read_csv('./data/drug_consumption.data', names=cols)
df.pop('ID')
df.head()

,Age,Gender,Education,Country,Ethnicity,N-Score,E-Score,O-Score,A-Score,C-Score,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

x = df.iloc[:, 1:12].values
y = df.iloc[:, 12:]
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=.2, stratify=y)

rf_model = RandomForestClassifier()

rf_model.fit(x_train, y_train.ravel())
y_pred = rf_model.predict(x_test)

print(classification_report(y_test, y_pred, digits=5, zero_division=1))

     Alcohol Amphet Amyl Benzos Caff Cannabis Choc Coke Crack Ecstasy Heroin  \
0        CL5    CL2  CL0    CL2  CL6      CL0  CL5  CL0   CL0     CL0    CL0
1        CL5    CL2  CL2    CL0  CL6      CL4  CL6  CL3   CL0     CL4    CL0
2        CL6    CL0  CL0    CL0  CL6      CL3  CL4  CL0   CL0     CL0    CL0
3        CL4    CL0  CL0    CL3  CL5      CL2  CL4  CL2   CL0     CL0    CL0
4        CL4    CL1  CL1    CL0  CL6      CL3  CL6  CL0   CL0     CL1    CL0
...      ...    ...  ...    ...  ...      ...  ...  ...   ...     ...    ...
1880     CL5    CL0  CL0    CL0  CL4      CL5  CL4  CL0   CL0     CL0    CL0
1881     CL5    CL0  CL0    CL0  CL5      CL3  CL4  CL0   CL0     CL2    CL0
1882     CL4    CL6  CL5    CL5  CL6      CL6  CL6  CL4   CL0     CL4    CL0
1883     CL5    CL0  CL0    CL0  CL6      CL6  CL5  CL0   CL0     CL3    CL0
1884     CL4    CL3  CL0    CL3  CL6      CL3  CL6  CL3   CL0     CL3    CL0

     Ketamine Legalh  LSD Meth Mushrooms Nicotine Semer  VSA
0         CL0    CL0  CL0  CL0       CL0      CL2   CL0  CL0
1         CL2    CL0  CL2  CL3       CL0      CL4   CL0  CL0
2         CL0    CL0  CL0  CL0       CL1      CL0   CL0  CL0
3         CL2    CL0  CL0  CL0       CL0      CL2   CL0  CL0
4         CL0    CL1  CL0  CL0       CL2      CL2   CL0  CL0
...       ...    ...  ...  ...       ...      ...   ...  ...
1880      CL0    CL3  CL3  CL0       CL0      CL0   CL0  CL5
1881      CL0    CL3  CL5  CL4       CL4      CL5   CL0  CL0
1882      CL2    CL0  CL2  CL0       CL2      CL6   CL0  CL0
1883      CL0    CL3  CL3  CL0       CL3      CL4   CL0  CL0
1884      CL0    CL3  CL3  CL0       CL3      CL6   CL0  CL2

[1885 rows x 19 columns]